*{
    margin: 0;
    padding: 0;
}

.heading{
    background-color: #081b31;
    color: #fff;
    font-family: Bookman old style;
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}
.choice:hover{
    cursor: pointer;
    background-color: #081b31;
}

.choice{
    height: clamp(50px, 160px, 300px);
    width: clamp(50px, 160px, 300px);
    /* gap: clamp(3rem 5rem 10rem); */
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 60px;
}

img{
    height: clamp(50px, 200px, 300px);
    width: clamp(50px, 200px, 300px);
    object-fit: cover;
    border-radius: 50%;
}

.score-bord{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}

#user-score, #comp-score{
    font-size: 4rem;
}
.msg-container{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#msg{
    padding: 1rem;
    border-radius: 1rem;
    background-color: #081b31;
    color: #fff;
    display: inline;
    font-size: clamp(10px, 3vw, 10vw);
}

/* @media screen (max-width: 600px) {
    
} */

