/* --------------Header--------------- */

*{
    padding: 0;
    margin: 0;
    font-family: Arial;
    border: border-box;
}
a{
    text-decoration: none;
}
body{
    background-color: #000101;
}
.nav-con-div{
    display: flex;
    justify-content: center;
    background-color: #01050d;
}
.navbar{
    height: 4rem;
    background-color: transparent;
    display: flex;
    align-content: center;
    position: fixed;
    transition: background-color 0.4s ease;
    width: 95%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.navbar.scrolled{
    background-color: rgba(21, 25, 32, 0.75);
    backdrop-filter: blur(15px);
}
.nav-logo{
    height: 1.5rem;
    width: 5.8rem;
    margin: 22px 30px 20px 60px;
}
#logo{
    background-image: url("https://m.media-amazon.com/images/G/01/digital/video/web/logo-min-remaster.png");
    background-size: cover;
    height: 80%;
    width: 110%;
}
.nav-options a{
    text-decoration: none;
    color: white;
}
.nav-options{
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 12px;
    font-weight: lighter;
    .nav-home,
    .nav-movies,
    .nav-shows,
    .nav-live{
        margin: 20px;
        border-radius: 10px;
        padding: 10px;
    }
}
.nav-options
.nav-home:hover,
.nav-movies:hover,
.nav-shows:hover,
.nav-live:hover{
    background-color: white;
    color: black;
}
.nav-div-line{
    height: 25px;
    width: 12px;
    padding-right: 20px;
}
#div-logo{
    background-image: url(/Icons/vertical_line.png);
    background-size: cover;
    height: 100%;
}
.nav-sub{
    height: 12px;
    width: 115px;
    margin-right: 280px;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.nav-sub-img{
    height: 15px;
    width: 17px;
}
#icon-img{
    background-image: url(/Icons/Subscriptions.png);
    background-size: cover;
    height: 100%;
}
.nav-sub-txt{
    height: 16px;
    padding-left: 5px;
}
.nav-search{
    height: 20px;
    width: 20px;
    padding: 10px;
    border-radius: 50%;
    margin: 15px;  
}
#nav-ser-logo{
    background-image: url(/Icons/search.png);
    background-size: cover;
    height: 100%;
}
.nav-lan{
    font-weight: lighter;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
}
.nav-lan-txt{
    padding-right: 5px;
}
.nav-lan-img{
    height: 20px;
    width: 20px;
}
#lan-img{
    background-image: url(/Icons/dropdown.png);
    background-size: cover;
    height: 100%;
}
.nav-mul-sel{
    height: 20px;
    width: 20px;
    padding: 10px;
    border-radius: 50%;
}
#mulsel-img{
    background-image: url(/Icons/mutliselector.png);
    background-size: cover;
    height: 100%;
}
.nav-acc{
    height: 30px;
    width: 30px;
    margin: 20px 20px 20px 1px;
    border-radius: 50%;
    padding: 5px;
}
.nav-acc:hover{
    background-color: white;
}
#acc-img{
    background-image: url(/Icons/account.png);
    background-size: cover;
    height: 100%;
}
.join-btn{
    height: -1px;
    width: 110px;
}
#nav-btn{
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: #157acf;
    color: white;
    text-decoration: none;
    font-family: lato;
}
#nav-btn:hover{
    background-color: #1a98ff;
}


/* NAVBAR POPUP'S STYLE */

/* Search Bar */
.ser-popup{
    position: fixed;
    top: 5.5rem;
    left: 40%;
    transform: translateX(-35%) translateY(-15px);
    width: 70%;
    padding: 30px 40px;
    border-radius: 10px;
    background: rgba(20, 24, 30, 0.9);
    backdrop-filter: blur(15px);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 9999;
}
.ser-popup.serShow{
    opacity: 1;
    transform: translateX(-35%) translateY(-15px);
    pointer-events: auto;
}
.ser-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 3px solid white;
    border-radius: 10px;
}
.sercon-icon{
    height: 30px;
    width: 30px;
    margin-left: 10px;
}
#sercon-img{
    background-image: url(/Icons/search-tab.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}
.sercon-box{
    margin: 10px;
    width: 85%;
}
.sercon-box input{
    color: #aaabaa;
    font-size: 20px;
    background: transparent;
    border: none;
    width: 100%;
    padding: 10px;
    outline: none;
}
.sercon-clear{
    margin: 10px;
    color: #fffffe;
    font-size: 20px;
    font-weight: bolder;
    padding: 11px;
    border-radius: 10px;
}
.sercon-clear:hover{
    background-color: white;
    color: black;
}
body.popup-active main,
body.popup-active footer {
    filter: blur(6px) brightness(0.5);
    pointer-events: none; /* Blocks interactions */
    transition: filter 0.3s ease;
}
body.popup-active {
    overflow: hidden;
}

/* Langugae Popup */
.lan-popup{
    position: fixed;
    top: 5.5rem;
    left: 50%;
    transform: translateX(-25%) translateY(-15px);
    width: 55%;
    padding: 20px;
    border-radius: 20px;
    background: rgba(20, 24, 30, 0.9);
    backdrop-filter: blur(15px);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 9999;
}
.lan-popup.lanShow {
    opacity: 1;
    transform: translateX(-25%) translateY(-15px);
    pointer-events: auto;
}
.lan-container{
    display: flex;
    justify-content: space-evenly;
}
.lan-container ul{
    list-style: none;
    padding: 0;
}
.lan-container li{
    color: wheat;
    font-size: 15px;
    padding: 8px 0;
    transform: 0.3s;
}
.lan-container li:hover{
    color: #1a98ff;
}

/* Multiple Select Popup */
.mulsel-popup{
    position: fixed;
    top: 5.5rem;
    left: 50%;
    transform: translateX(-5%) translateY(-15px);
    width: 45%;
    padding: 30px 40px;
    border-radius: 20px;
    background: rgba(20, 24, 30, 0.9);
    backdrop-filter: blur(15px);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 9999;
}
.mulsel-popup.mulShow{
    opacity: 1;
    transform: translateX(-5%) translateY(-15px);
    pointer-events: auto;
}

/* inside layout */
.mulsel-container{
    display: flex;
    justify-content: space-between;
    color: wheat;
}

/* headings */
.mul-heading{
    font-size: 14px;
    font-weight: bolder;
    color: rgba(255,255,255,0.6);
    margin-bottom: 10px;
}

/* left 2-column layout */
.mul-left{
    display: flex;
    flex-direction: column;
}
.mul-lists{
    display: flex;
    gap: 50px;
}

/* same UL style like your lan-popup */
.mulsel-container ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.mulsel-container li{
    font-size: 15px;
    padding: 8px 0;
    color: wheat;
    transition: 0.3s;
}
.mulsel-container li:hover{
    color: #1a98ff;
}

/* divider */
.mul-divider{
    border-right: 1px solid white;
}

/* right section */
.mul-right{
    min-width: 180px;
}

/* Account Popup */
.acc-popup{
    position: fixed;
    top: 5.5rem;
    left: 80%;
    transform: translateX(25%) translateY(-15px);
    width: 10%;
    padding: 30px;
    border-radius: 20px;
    background: rgba(20, 24, 30, 0.9);
    backdrop-filter: blur(10px);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 9999;
}
.acc-popup.accShow{
    opacity: 1;
    transform: translateX(25%) translateY(-15px);
    pointer-events: auto;
}
.accpop-heading{
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: bolder;
    color: rgba(255,255,255,0.6);
    margin-bottom: 10px;
}
.acc-popup ul{
    list-style: none;
    color: rgba(255,255,255,0.6);
}

.acc-popup li{
    color: wheat;
    padding: 8px 0;
    transition: color 0.3s ease;
}

.acc-popup li:hover{
    color: #1a98ff;
}



/* -------------Main------------- */

.main-bckgndimg{
    background-image: url("/Icons/livetv_herosection.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 550px;
}
.main-uppbckimg{
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 150px 0 0 70px;
    transition: all 0.4s ease;
    color: white;
}
/* .main-uppbckimg:hover{
    opacity: 1;
    padding: 70px 0 30px 70px;
} */
.uppimg-chanal{
    background-image: url('https://m.media-amazon.com/images/G/01/digital/video/merch/subs/benefit-id/a-f/fancodein/logos/channels-logo-color._CB557035709_SY52.5_FMwebp_.png');
    background-size: 20%;
    background-position: left;
    background-repeat: no-repeat;
    height: 20%;
    width: 100%;
}
#main-headtxt{
    font-size: 50px;
    font-weight: bold;
}
.heading-txt{
    display: flex;
}
.main-uppbckimg span{
    margin: 15px 5px 15px 0;
    padding: 5px;
    font-size: 80%;
    font-weight: bolder;
    border-radius: 5px;
}
#headingtxt-span1{
    background-color: #33373d;
}
#main-p1{
    font-size: 20px;
}
.main-op{
    margin-top: 10px;
    display: flex;
    align-items: center;
}
#main-optxt{
    padding: 5px;
    font-size: 80%;
    font-weight: bolder;
    background-color: #33373d;
}
.main-opimg{
    background-image: url(/Icons/subtital.png);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    height: 10px;
    width: 15px;
    margin-left: 10px;
    padding: 5px;
    background-color: #33373d;
    border-radius: 5px;
}

/* + Button */
.main-options{
    display: flex;
    height: 13%;
    width: 50%;
    margin-left: 75px;
    margin-bottom: 10px;
}
.main-options a {
    display: contents;
}
.mo-join{
    width: 55%;
    border-radius: 10px;
    margin-right: 4%;
    background-color: #35363d;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transition: all 0.30s ease;
}
.mo-join p{
    font-weight: bolder;
    font-size: 19px;
    text-align: center;
    padding: 10px;
}
.mo-join:hover{
    background-color: white;
    color: black;
}

.mo-add{
    background-image: url(/Icons/add.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    width: 10%;
    border-radius: 50%;
    margin-right: 10px;
    background-color: #35373d;

}
.mo-i{
    background-image: url(/Icons/info.png);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    width: 10%;
    border-radius: 50%;
    background-color: #35373d;
}

/* Info Button */
.mini-bottomimg{
    padding: 5px 0 0 70px;
    display: flex;
    align-items: center;
}
.mini-p{
    color: white;
}
.mini-icon{
    background-image: url(/Icons/shoping.png);
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
}
/* Movie Recomandation */
.rec-movie{
    height: 200px;
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: 50px;
}
.rec-movie p{
    font-size: 20px;
    margin: 10px 0 0 70px;
    font-weight: bold;
}
.rec-movie span{
    padding-left: 20px;
}
.rec-movie ul{
    display: flex;
    height: 100%;
    padding-left: 70px;
    overflow: visible;
}
.rec-movie li{
    list-style: none;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 90%;
    width: 90%;
    margin: 10px;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s 
ease;
}
.rec-movie li:hover{
    transform: scale(1.1) translateY(-5px);
    box-shadow:
        0 15px 25px rgba(0, 0, 0, 0.6),       
        0 0 15px rgba(255, 255, 255, 0.25);   
    z-index: 10;
}

#rc-img1{
    background-image: url('https://m.media-amazon.com/images/S/le-target-images-prod/amzn1.dv.gti.eb4f5d8d-e1d1-4c42-bf9c-ed6f07733c2b/1/BOXART-16X9/en-IN._UR1920,1080_SX720_FMwebp_.jpg');
}
#rc-img2{
    background-image: url('https://m.media-amazon.com/images/S/le-target-images-prod/amzn1.dv.gti.bbf5818c-0b2b-4da9-a42e-53ebe7e9ea89/3/BOXART-16X9/en-IN._UR1920,1080_SX720_FMwebp_.jpg');
}
#rc-img3{
    background-image: url('https://m.media-amazon.com/images/S/le-target-images-prod/amzn1.dv.gti.433caf58-eae2-4916-9cf1-8fbbd2e030eb/3/BOXART-16X9/en-IN/288x91._UR1920,1080_SX720_FMwebp_.jpg');
}
#rc-img4{
    background-image: url('https://m.media-amazon.com/images/S/le-target-images-prod/amzn1.dv.gti.a6a3257d-cf2a-42a3-9e12-33f635b3cc9f/3/BOXART-16X9/en-IN._UR1920,1080_SX720_FMwebp_.jpg');
}
#rc-img5{
    background-image: url('https://m.media-amazon.com/images/I/C1MPrP3hR6L._UR1920,1080_FMpng_SX267_FMwebp_.jpg');
}
#rc-img6{
    background-image: url('https://m.media-amazon.com/images/S/pv-target-images/ed2f874452b2f16a394c2fb1f782c9dfb5a593e2847e4be46a983e34d88e661e._UR1920,1080_CLs%7C1920,1080%7C/G/bundle/BottomRightCardGradient16x9.png,/G/01/digital/video/merch/subs/benefit-id/m-r/Prime/logos/channels-logo-white.png%7C0,0,1920,1080+0,0,1920,1080+1578,847,263,156_kvf21cb47db8d34aa971cd86f57a65cf8d_SX720_FMwebp_.jpg');
}
#rc-img7{
    background-image: url('https://m.media-amazon.com/images/S/pv-target-images/acd92d6783f3ca7c6ae0ea0cb20eb90f3fd81d23d59fd70db03db081f1a8ef4f._UR1920,1080_CLs%7C1920,1080%7C/G/bundle/BottomRightCardGradient16x9.png,/G/01/digital/video/merch/subs/benefit-id/m-r/Prime/logos/channels-logo-white.png%7C0,0,1920,1080+0,0,1920,1080+1578,847,263,156_kvf21cb47db8d34aa971cd86f57a65cf8d_SX720_FMwebp_.png');
}
#rc-img8{
    background-image: url('https://m.media-amazon.com/images/S/pv-target-images/5e0451c701ba6507b20b914a50eff4fd3305333c256d520e2f5840808e29e0de._UR1920,1080_CLs%7C1920,1080%7C/G/bundle/BottomRightCardGradient16x9.png,/G/01/digital/video/merch/subs/benefit-id/m-r/Prime/logos/channels-logo-white.png%7C0,0,1920,1080+0,0,1920,1080+1578,847,263,156_kvf21cb47db8d34aa971cd86f57a65cf8d_SX720_FMwebp_.png');
}
#rc-img9{
    background-image: url('https://m.media-amazon.com/images/S/pv-target-images/a2ec4d5c9511baf5bc12d5b053c7235d1341920b2ce1761108404bb3fc040ec9._UR1920,1080_CLs%7C1920,1080%7C/G/bundle/BottomRightCardGradient16x9.png,/G/01/digital/video/merch/subs/benefit-id/m-r/Prime/logos/channels-logo-white.png%7C0,0,1920,1080+0,0,1920,1080+1578,847,263,156_kvf21cb47db8d34aa971cd86f57a65cf8d_SX720_FMwebp_.png');
}
#rc-img10{
    background-image: url('https://m.media-amazon.com/images/S/pv-target-images/a2d07ee4999343ab6a03b1d9cc8a3ec81a28bec57904a300a6cfa8897c302ebb._UR1920,1080_CLs%7C1920,1080%7C/G/bundle/BottomRightCardGradient16x9.png,/G/01/digital/video/merch/subs/benefit-id/m-r/Prime/logos/channels-logo-white.png%7C0,0,1920,1080+0,0,1920,1080+1578,847,263,156_kvf21cb47db8d34aa971cd86f57a65cf8d_SX720_FMwebp_.jpg');
}
#rc-img11{
    background-image: url('https://m.media-amazon.com/images/S/pv-target-images/191fa29042c2f5acf19b8054e1c3e34413e83b2f511a7c802b357712e5039b91._UR1920,1080_CLs%7C1920,1080%7C/G/bundle/BottomRightCardGradient16x9.png,/G/01/digital/video/merch/subs/benefit-id/m-r/Prime/logos/channels-logo-white.png%7C0,0,1920,1080+0,0,1920,1080+1578,847,263,156_kvf21cb47db8d34aa971cd86f57a65cf8d_SX720_FMwebp_.jpg');
}
#rc-img12{
    background-image: url('https://m.media-amazon.com/images/S/pv-target-images/844eb9471fbcac9427fce015405be9a4341a6e9122f0b100553afda86ff57c94._UR1920,1080_CLs%7C1920,1080%7C/G/bundle/BottomRightCardGradient16x9.png,/G/01/digital/video/merch/subs/benefit-id/m-r/Prime/logos/channels-logo-white.png%7C0,0,1920,1080+0,0,1920,1080+1578,847,263,156_kvf21cb47db8d34aa971cd86f57a65cf8d_SX720_FMwebp_.jpg');
}
#rc-img13{
    background-image: url('https://m.media-amazon.com/images/S/pv-target-images/54ce3832951417d1f5528df562b45249b20f13a4403260c6b033a4d4c03fd52c._UR1920,1080_CLs%7C1920,1080%7C/G/bundle/BottomRightCardGradient16x9.png,/G/01/digital/video/merch/subs/benefit-id/m-r/Prime/logos/channels-logo-white.png%7C0,0,1920,1080+0,0,1920,1080+1578,847,263,156_kvf21cb47db8d34aa971cd86f57a65cf8d_SX720_FMwebp_.jpg');
}
#rc-img14{
    background-image: url('https://m.media-amazon.com/images/S/pv-target-images/59c6655b21ebca3815af5b6267d0811c7cb5330851512d03e734ea9da41d765b._UR1920,1080_CLs%7C1920,1080%7C/G/bundle/BottomRightCardGradient16x9.png,/G/01/digital/video/merch/subs/benefit-id/m-r/Prime/logos/channels-logo-white.png%7C0,0,1920,1080+0,0,1920,1080+1578,847,263,156_kvf21cb47db8d34aa971cd86f57a65cf8d_SX720_FMwebp_.jpg');
}
#rc-img15{
    background-image: url('https://m.media-amazon.com/images/S/pv-target-images/05bc98e3562b874505314ad9bbcb17a06dc5fd95655302992068f9a33fb94ae9._UR1920,1080_CLs%7C1920,1080%7C/G/bundle/BottomRightCardGradient16x9.png,/G/01/digital/video/merch/subs/benefit-id/m-r/Prime/logos/channels-logo-white.png%7C0,0,1920,1080+0,0,1920,1080+1578,847,263,156_kvf21cb47db8d34aa971cd86f57a65cf8d_SX720_FMwebp_.jpg');
}
#rc-img16{
    background-image: url(' https://m.media-amazon.com/images/S/pv-target-images/3190ac464db261a081324d4b771d35119b8202b1fd69d3238f34bbb7f0114207._UR1920,1080_CLs%7C1920,1080%7C/G/bundle/BottomRightCardGradient16x9.png,/G/01/digital/video/merch/subs/benefit-id/m-r/Prime/logos/channels-logo-white.png%7C0,0,1920,1080+0,0,1920,1080+1578,847,263,156_kvf21cb47db8d34aa971cd86f57a65cf8d_SX720_FMwebp_.png');
}
#rc-img17{
    background-image: url('https://m.media-amazon.com/images/S/pv-target-images/467543feb4df70a6fa010cf860cf31ec7e2681854e6c7bf99c469dd73a4530e8._UR1920,1080_CLs%7C1920,1080%7C/G/bundle/BottomRightCardGradient16x9.png,/G/01/digital/video/merch/subs/benefit-id/m-r/Prime/logos/channels-logo-white.png%7C0,0,1920,1080+0,0,1920,1080+1578,847,263,156_kvf21cb47db8d34aa971cd86f57a65cf8d_SX720_FMwebp_.jpg');
}
#rc-img18{
    background-image: url('https://m.media-amazon.com/images/S/pv-target-images/f2a4ae346f7033575a4a0ad0e738db017dbc4116219c5d867e7f3096cb2c3de2._UR1920,1080_CLs%7C1920,1080%7C/G/bundle/BottomRightCardGradient16x9.png,/G/01/digital/video/merch/subs/benefit-id/m-r/Prime/logos/channels-logo-white.png%7C0,0,1920,1080+0,0,1920,1080+1578,847,263,156_kvf21cb47db8d34aa971cd86f57a65cf8d_SX720_FMwebp_.jpg');
}
#rc-img19{
    background-image: url('https://m.media-amazon.com/images/S/pv-target-images/a921ad53ca1698c81d541e13fb4051f20fe7a9717979d5683e10529539124d6e._UR1920,1080_CLs%7C1920,1080%7C/G/bundle/BottomRightCardGradient16x9.png,/G/01/digital/video/merch/subs/benefit-id/m-r/Prime/logos/channels-logo-white.png%7C0,0,1920,1080+0,0,1920,1080+1578,847,263,156_kvf21cb47db8d34aa971cd86f57a65cf8d_SX720_FMwebp_.jpg');
}
#rc-img20{
    background-image: url('https://m.media-amazon.com/images/S/pv-target-images/7694ddc31c5dd4643c83ad62f17a38fa889fcd6486e4725c3603626f4068d04a._UR1920,1080_CLs%7C1920,1080%7C/G/bundle/BottomRightCardGradient16x9.png,/G/01/digital/video/merch/subs/benefit-id/m-r/Prime/logos/channels-logo-white.png%7C0,0,1920,1080+0,0,1920,1080+1578,847,263,156_kvf21cb47db8d34aa971cd86f57a65cf8d_SX720_FMwebp_.jpg');
}
#rc-img21{
    background-image: url('https://m.media-amazon.com/images/S/pv-target-images/dd5aeb0dea74919938c1bb6688d9ca7819085b9aef5bccdc8baca4ba553c9c54._UR1920,1080_CLs%7C1920,1080%7C/G/bundle/BottomRightCardGradient16x9.png,/G/01/digital/video/merch/subs/benefit-id/m-r/Prime/logos/channels-logo-white.png%7C0,0,1920,1080+0,0,1920,1080+1578,847,263,156_kvf21cb47db8d34aa971cd86f57a65cf8d_SX720_FMwebp_.jpg');
}
#rc-img22{
    background-image: url('http://m.media-amazon.com/images/S/pv-target-images/a08a510c3884f55fd977661d46f1cb73396af9a59043ca07eefc11713e145e85._UR1920,1080_CLs%7C1920,1080%7C/G/bundle/BottomRightCardGradient16x9.png,/G/01/digital/video/merch/subs/benefit-id/m-r/Prime/logos/channels-logo-white.png%7C0,0,1920,1080+0,0,1920,1080+1578,847,263,156_kvf21cb47db8d34aa971cd86f57a65cf8d_SX720_FMwebp_.jpg');
}
#rc-img23{
    background-image: url('https://m.media-amazon.com/images/S/pv-target-images/d888b9a1eb54a9f530db48b4cf9805561e95ea3798c7ce09be82123a749c767a._UR1920,1080_CLs%7C1920,1080%7C/G/bundle/BottomRightCardGradient16x9.png,/G/01/digital/video/merch/subs/benefit-id/m-r/Prime/logos/channels-logo-white.png%7C0,0,1920,1080+0,0,1920,1080+1578,847,263,156_kvf21cb47db8d34aa971cd86f57a65cf8d_SX720_FMwebp_.jpg');
}
#rc-img24{
    background-image: url('https://m.media-amazon.com/images/S/pv-target-images/ad48ebbf87d27a50924d12747a9bfea54b737d613974d091c956c0858abab4bc._UR1920,1080_CLs%7C1920,1080%7C/G/bundle/BottomRightCardGradient16x9.png,/G/01/digital/video/merch/subs/benefit-id/m-r/Prime/logos/channels-logo-white.png%7C0,0,1920,1080+0,0,1920,1080+1578,847,263,156_kvf21cb47db8d34aa971cd86f57a65cf8d_SX720_FMwebp_.png');
}
#rc-img25{
    background-image: url('https://m.media-amazon.com/images/S/pv-target-images/f915ac2042147e1ad5ab850dfa6cfcca4faa7c014b8cf3371d6efec31c01cac8._UR1920,1080_CLs%7C1920,1080%7C/G/bundle/BottomRightCardGradient16x9.png,/G/01/digital/video/merch/subs/benefit-id/m-r/Prime/logos/channels-logo-white.png%7C0,0,1920,1080+0,0,1920,1080+1578,847,263,156_kvf21cb47db8d34aa971cd86f57a65cf8d_SX720_FMwebp_.jpg');
}
#rc-img26{
    background-image: url('https://m.media-amazon.com/images/S/pv-target-images/8048d7ed7f055304653bd3ee63b1e9fb87011d73202669d6f09168f913742e3d._UR1920,1080_CLs%7C1920,1080%7C/G/bundle/BottomRightCardGradient16x9.png,/G/31/digital/video/merch/subs/benefit-id/a-f/freewithads/logos/channels-logo-white.png%7C0,0,1920,1080+0,0,1920,1080+1224,847,617,156_kvd4515e4783875e4179be3fd9d4a0bfc7_SX600_FMwebp_.jpg');
}#rc-img27{
    background-image: url('https://m.media-amazon.com/images/S/pv-target-images/fd5c239c7edc8c0dae245704ade3cef26bace7336e7d8125f22f88e0646d4345._UR1920,1080_CLs%7C1920,1080%7C/G/bundle/BottomRightCardGradient16x9.png,/G/01/digital/video/merch/subs/benefit-id/m-r/Prime/logos/channels-logo-white.png%7C0,0,1920,1080+0,0,1920,1080+1578,847,263,156_kvf21cb47db8d34aa971cd86f57a65cf8d_SX400_FMwebp_.jpg');
}#rc-img28{
    background-image: url('https://m.media-amazon.com/images/S/pv-target-images/fad41808d1635086ca387c295411a139e0bc3ebdd2b902bafbb80229e98735ef._UR1920,1080_CLs%7C1920,1080%7C/G/bundle/BottomRightCardGradient16x9.png,/G/01/digital/video/merch/subs/benefit-id/m-r/Prime/logos/channels-logo-white.png%7C0,0,1920,1080+0,0,1920,1080+1578,847,263,156_kvf21cb47db8d34aa971cd86f57a65cf8d_SX400_FMwebp_.jpg');
}#rc-img29{
    background-image: url('https://m.media-amazon.com/images/S/pv-target-images/32d817cc3cb7d48e6e5e68b388e04f4fab6084a24d2b3840105d70cfed27c4a7._UR1920,1080_CLs%7C1920,1080%7C/G/bundle/BottomRightCardGradient16x9.png,/G/01/digital/video/merch/subs/benefit-id/m-r/Prime/logos/channels-logo-white.png%7C0,0,1920,1080+0,0,1920,1080+1578,847,263,156_kvf21cb47db8d34aa971cd86f57a65cf8d_SX400_FMwebp_.jpg');
}#rc-img30{
    background-image: url('https://m.media-amazon.com/images/S/pv-target-images/4c5d18cda224a7fd7a193e16ede141a6397536e81c3a63fd31f4ae73206859be._UR1920,1080_CLs%7C1920,1080%7C/G/bundle/BottomRightCardGradient16x9.png,/G/01/digital/video/merch/subs/benefit-id/m-r/Prime/logos/channels-logo-white.png%7C0,0,1920,1080+0,0,1920,1080+1578,847,263,156_kvf21cb47db8d34aa971cd86f57a65cf8d_SX600_FMwebp_.jpg');
}



.final-space{
    height: 150px;
}

/* -------------Footer-------------- */
.ft-section{
    height: 90px;
    padding: 20px;
}
.ft-content-logo{
    display: flex;
    justify-content: center;
}
.ft-logo-amazon{
    height: 32px;
    width: 105px;
    padding-right: 30px;
}
#ft-logo{
    background-image: url("https://m.media-amazon.com/images/G/01/digital/video/acquisition/logo/pv_logo_white._CB548637580_.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}
.ft-content-txt{
    padding: 10px;
    p{
        padding-right: 20px;
    }
}
.ft-feedback{
    display: flex;
    justify-content: center;
    color: #79b8f3;
}
.ft-feedback p:hover{
    color: #5fcbfe;
    cursor: pointer;
}
.ft-copyright{
    margin: 10px;
}
.c-img{
    background-image: url(/Icons/copyright.png);
    background-size: cover;
    background-position: center;
    height: 100%;
}
.c-txt{
    display: flex;
    justify-content: center;
    color: #819687;
}