/* --------------Header--------------- */

*{
    padding: 0;
    margin: 0;
    font-family: Arial;
    border: border-box;
}
a{
    text-decoration: none;
}
body{
    background-color: #000101;
}
.nav-con-div{
    display: flex;
    justify-content: center;
    background-color: #01050d;
    height: 4rem;
}
.navbar{
    height: 4rem;
    background-color: #01050d;
    display: flex;
    align-content: center;
    position: fixed;
    transition: background-color 0.4s ease;
    width: 95%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.navbar.scrolled{
    background-color: rgba(21, 25, 32, 0.75);
    backdrop-filter: blur(15px);
}
.nav-logo{
    height: 1.5rem;
    width: 5.8rem;
    margin: 22px 30px 20px 60px;
}
#logo{
    background-image: url("https://m.media-amazon.com/images/G/01/digital/video/web/logo-min-remaster.png");
    background-size: cover;
    height: 80%;
    width: 110%;
}
.nav-options a{
    text-decoration: none;
    color: white;
}
.nav-options{
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 12px;
    font-weight: lighter;
    .nav-home,
    .nav-movies,
    .nav-shows,
    .nav-live{
        margin: 20px;
        border-radius: 10px;
        padding: 10px;
    }
}
.nav-options
.nav-home:hover,
.nav-movies:hover,
.nav-shows:hover,
.nav-live:hover{
    background-color: white;
    color: black;
}
.nav-div-line{
    height: 25px;
    width: 12px;
    padding-right: 20px;
}
#div-logo{
    background-image: url(/Icons/vertical_line.png);
    background-size: cover;
    height: 100%;
}
.nav-sub{
    height: 12px;
    width: 115px;
    margin-right: 280px;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.nav-sub-img{
    height: 15px;
    width: 17px;
}
#icon-img{
    background-image: url(/Icons/Subscriptions.png);
    background-size: cover;
    height: 100%;
}
.nav-sub-txt{
    height: 16px;
    padding-left: 5px;
}
.nav-search{
    height: 20px;
    width: 20px;
    padding: 10px;
    border-radius: 50%;
    margin: 15px;  
}
#nav-ser-logo{
    background-image: url(/Icons/search.png);
    background-size: cover;
    height: 100%;
}
.nav-lan{
    font-weight: lighter;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
}
.nav-lan-txt{
    padding-right: 5px;
}
.nav-lan-img{
    height: 20px;
    width: 20px;
}
#lan-img{
    background-image: url(/Icons/dropdown.png);
    background-size: cover;
    height: 100%;
}
.nav-mul-sel{
    height: 20px;
    width: 20px;
    padding: 10px;
    border-radius: 50%;
}
#mulsel-img{
    background-image: url(/Icons/mutliselector.png);
    background-size: cover;
    height: 100%;
}
.nav-acc{
    height: 30px;
    width: 30px;
    margin: 20px 20px 20px 1px;
    border-radius: 50%;
    padding: 5px;
}
.nav-acc:hover{
    background-color: white;
}
#acc-img{
    background-image: url(/Icons/account.png);
    background-size: cover;
    height: 100%;
}
.join-btn{
    height: -1px;
    width: 110px;
}
#nav-btn{
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: #157acf;
    color: white;
    text-decoration: none;
    font-family: lato;
}
#nav-btn:hover{
    background-color: #1a98ff;
}


/* NAVBAR POPUP'S STYLE */

/* Search Bar */
.ser-popup{
    position: fixed;
    top: 5.5rem;
    left: 40%;
    transform: translateX(-35%) translateY(-15px);
    width: 70%;
    padding: 30px 40px;
    border-radius: 10px;
    background: rgba(20, 24, 30, 0.9);
    backdrop-filter: blur(15px);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 9999;
}
.ser-popup.serShow{
    opacity: 1;
    transform: translateX(-35%) translateY(-15px);
    pointer-events: auto;
}
.ser-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 3px solid white;
    border-radius: 10px;
}
.sercon-icon{
    height: 30px;
    width: 30px;
    margin-left: 10px;
}
#sercon-img{
    background-image: url(/Icons/search-tab.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}
.sercon-box{
    margin: 10px;
    width: 85%;
}
.sercon-box input{
    color: #aaabaa;
    font-size: 20px;
    background: transparent;
    border: none;
    width: 100%;
    padding: 10px;
    outline: none;
}
.sercon-clear{
    margin: 10px;
    color: #fffffe;
    font-size: 20px;
    font-weight: bolder;
    padding: 11px;
    border-radius: 10px;
}
.sercon-clear:hover{
    background-color: white;
    color: black;
}
body.popup-active main,
body.popup-active footer {
    filter: blur(6px) brightness(0.5);
    pointer-events: none; /* Blocks interactions */
    transition: filter 0.3s ease;
}
body.popup-active {
    overflow: hidden;
}

/* Langugae Popup */
.lan-popup{
    position: fixed;
    top: 5.5rem;
    left: 50%;
    transform: translateX(-25%) translateY(-15px);
    width: 55%;
    padding: 20px;
    border-radius: 20px;
    background: rgba(20, 24, 30, 0.9);
    backdrop-filter: blur(15px);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 9999;
}
.lan-popup.lanShow {
    opacity: 1;
    transform: translateX(-25%) translateY(-15px);
    pointer-events: auto;
}
.lan-container{
    display: flex;
    justify-content: space-evenly;
}
.lan-container ul{
    list-style: none;
    padding: 0;
}
.lan-container li{
    color: wheat;
    font-size: 15px;
    padding: 8px 0;
    transform: 0.3s;
}
.lan-container li:hover{
    color: #1a98ff;
}

/* Multiple Select Popup */
.mulsel-popup{
    position: fixed;
    top: 5.5rem;
    left: 50%;
    transform: translateX(-5%) translateY(-15px);
    width: 45%;
    padding: 30px 40px;
    border-radius: 20px;
    background: rgba(20, 24, 30, 0.9);
    backdrop-filter: blur(15px);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 9999;
}
.mulsel-popup.mulShow{
    opacity: 1;
    transform: translateX(-5%) translateY(-15px);
    pointer-events: auto;
}

/* inside layout */
.mulsel-container{
    display: flex;
    justify-content: space-between;
    color: wheat;
}

/* headings */
.mul-heading{
    font-size: 14px;
    font-weight: bolder;
    color: rgba(255,255,255,0.6);
    margin-bottom: 10px;
}

/* left 2-column layout */
.mul-left{
    display: flex;
    flex-direction: column;
}
.mul-lists{
    display: flex;
    gap: 50px;
}

/* same UL style like your lan-popup */
.mulsel-container ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.mulsel-container li{
    font-size: 15px;
    padding: 8px 0;
    color: wheat;
    transition: 0.3s;
}
.mulsel-container li:hover{
    color: #1a98ff;
}

/* divider */
.mul-divider{
    border-right: 1px solid white;
}

/* right section */
.mul-right{
    min-width: 180px;
}

/* Account Popup */
.acc-popup{
    position: fixed;
    top: 5.5rem;
    left: 80%;
    transform: translateX(25%) translateY(-15px);
    width: 10%;
    padding: 30px;
    border-radius: 20px;
    background: rgba(20, 24, 30, 0.9);
    backdrop-filter: blur(10px);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 9999;
}
.acc-popup.accShow{
    opacity: 1;
    transform: translateX(25%) translateY(-15px);
    pointer-events: auto;
}
.accpop-heading{
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: bolder;
    color: rgba(255,255,255,0.6);
    margin-bottom: 10px;
}
.acc-popup ul{
    list-style: none;
    color: rgba(255,255,255,0.6);
}

.acc-popup li{
    color: wheat;
    padding: 8px 0;
    transition: color 0.3s ease;
}

.acc-popup li:hover{
    color: #1a98ff;
}

/* -----------------Main------------------- */
.bd-container-1,
.bd-container-2{
    height: 500px;
    display: flex;
    justify-content: space-evenly;
}
.bd-con1-txt,
.bd-con2-txt{
    color: white;
    padding: 70px 0px 70px 70px;
}
.bd-con1-img{
    height: 500px;
    width: 80%;
}
#bd-img-1{
    background-image: url(/Icons/hero-section-1.jpg);
    background-size: contain;
    background-position: center right;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}
.hd-htxt,
.hd-htxt-2{
    font-size: 25px;
    padding-bottom: 40px;
}
.hd-ptxt,
.hd-ptxt-2{
    font-size: 20px;
    padding-bottom: 40px;
    font-weight: bolder;
}
.bd-sign,
.bd-rent{
    font-size: 20px;
    color: #00050d;
    background-color: white;
    height: 50px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 210px;
    transition: transform 0.30s ease, box-shadow 0.30s ease;
}
.bd-sign:hover{
    color: #4c4d4d;
    font-size: 21px;
    height: 51px;
    width: 210px;
    transform: scale(1.05); 
}

.bd-rent{
    width: 110px;
}
.bd-rent:hover{
    color: #4c4d4d;
    font-size: 22px;
    height: 53px;
    width: 120px;
    transform: scale(1.05); 
}

.bd-con2-img{
    height: 500px;
    width: 50%;
}
#bd-img-2{
    background-image: url(/Icons/hero-section-2.jpg);
    background-size: contain;
    background-position: center right;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}
.bd-cont-2{
    background-color: #01050d;
    color: white;
    height: 600px;
    display: flex;
}
.bd-ft-txt{
    width: 50%;
    font-weight: bolder;
    padding: 50px;
}
.bd-ft-htxt{
    font-size: 25px;
    margin-bottom: 30px;
}
.bd-ft-pf{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}
.ft-platforms{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    max-width: 700px;
}
.ft-pt-options{
    background-size: cover;
    border-radius: 10px;
    width: 220px;
    height: 140px;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.ft-pt-options:hover {
  transform: scale(1.03); /* tiny lift effect */
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.6);
}
.ft-appletv{
    background-image: url("https://m.media-amazon.com/images/G/31/AmazonVideo/2021/Channels/MLP/426x294_AppleTV_V1._AC_SX400_QL80_FP_.png");
}
.ft-crunchyroll{
    background-image: url("https://m.media-amazon.com/images/G/31/AmazonVideo/2021/Channels/MLP/426x294_Crunchyroll_V1._AC_SX400_QL80_FP_.png");
}
.ft-lionsgate{
    background-image: url("https://m.media-amazon.com/images/G/31/AmazonVideo/2021/Channels/MLP/426x294_LGP_V1._AC_SX400_QL80_FP_.png");
}
.ft-discovery{
    background-image: url("https://m.media-amazon.com/images/G/31/AmazonVideo/2021/Channels/MLP/426x294_Discovery_V1._AC_SX400_QL80_FP_.png");
}
.ft-anime{
    background-image: url("https://m.media-amazon.com/images/G/31/AmazonVideo/2021/Channels/MLP/426x294_Anime_V1._AC_SX400_QL80_FP_.png");
}
.ft-manorama{
    background-image: url("https://m.media-amazon.com/images/G/31/AmazonVideo/2021/Channels/MLP/426x294_Manoramamax_V1._AC_SX400_QL80_FP_.png");
}
.ft-chaupal{
    background-image: url("https://m.media-amazon.com/images/G/31/AmazonVideo/2021/Channels/MLP/426x294_Chaupal_V1._AC_SX400_QL80_FP_.png");
}
.ft-bbc{
    background-image: url("https://m.media-amazon.com/images/G/31/AmazonVideo/2021/Channels/MLP/426x294_BBC_V1._AC_SX400_QL80_FP_.png");
}
.ft-fancode{
    background-image: url("https://m.media-amazon.com/images/G/31/AmazonVideo/2021/Channels/MLP/426x294_Fancode_V1._AC_SX400_QL80_FP_.png");
}


/* -------------Main-------------- */
.her-container {
    height: 700px;
}

/* This will hold the background image */
.hercon-img {
    background-image: url("https://m.media-amazon.com/images/G/01/digital/video/merch/subs/benefit-id/m-r/manoramamaxin/heroes/web_3p-signup-background._CB803106155_.jpg");
    background-size: 80%;
    background-position: 100% -10%;
    background-repeat: no-repeat;
    height: 100%;
    display: flex;
    padding: 70px 0px 0px 70px;
    color: white;
}

/* This contains your logo + text */
.hercon-txt {
    max-width: 40%; 
}

/* LOGO */
#appleimg {
    background-image: url("https://m.media-amazon.com/images/G/01/digital/video/merch/subs/benefit-id/m-r/manoramamaxin/logos/3p-logo._CB640770785_.png");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 60px;
    width: 300px;
    margin-bottom: 30px;
}

.appletxt p{
    line-height: 1.6;
    font-weight: bold;
    width: 120%;
    font-size: 19px;
}
#apptxt-p1{
    padding-bottom: 20px;
}
#apptxt-p3{
    padding-top: 40px;
    padding-bottom: 40px;

}
.appgetstarted{
    border: 1px solid white;
    padding: 20px;
    width: 20%;
    height: 25px;
    font-size: 20px;
    border-radius: 10px;
    background-color: white;
    color: black;
    font-weight: bolder;
    transition: transform 0.30s ease, box-shadow 0.30s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
.appgetstarted:hover{
    color: #535252;
    background-color: #f1f1f1;
    width: 21%;
    height: 27px;
    transform: scale(1.05);
}


/* -------------Footer-------------- */
.ft-section{
    background-color: #232222;
    height: 90px;
    padding: 20px;
}
.ft-content-logo{
    display: flex;
    justify-content: center;
}
.ft-logo-amazon{
    height: 32px;
    width: 105px;
    padding-right: 30px;
}
#ft-logo{
    background-image: url("https://m.media-amazon.com/images/G/01/digital/video/acquisition/logo/pv_logo_white._CB548637580_.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}
.ft-content-txt{
    padding: 10px;
    p{
        padding-right: 20px;
    }
}
.ft-feedback{
    display: flex;
    justify-content: center;
    color: #79b8f3;
}
.ft-feedback p:hover{
    color: #5fcbfe;
    cursor: pointer;
}
.ft-copyright{
    margin: 10px;
}
.c-img{
    background-image: url(/Icons/copyright.png);
    background-size: cover;
    background-position: center;
    height: 100%;
}
.c-txt{
    display: flex;
    justify-content: center;
    color: #819687;
}