*{
    padding: 0;
    margin: 0;
}

/* --------------------Loding Screen-------------------- */
#loading-screen{
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9999;
    overflow: hidden;
    color: #00f0ff;
    text-align: center;
}

.loading-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #00f0ff;
}

.hidden{
    opacity: 0;
    transform: translateY(-200px);
}

.fall{
    animation: fall 0.9s ease forwards;
}

@keyframes fall {
    0%{
        opacity: 0;
        transform: translateY(-200px);
    }
    60%{
        opacity: 1;
        transform: translateY(20px);
    }
    100%{
        transform: translateY(0);
    }
}

.sub-icons{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 20px 0;
}

